<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hk.hku.qboy.catcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hk.hku.qboy.catcher.CustomTitleBar"
            android:theme="@style/customTheme" >
        </activity>
        <activity
            android:name="hk.hku.qboy.catcher.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hk.hku.qboy.catcher.TaskDetail"
            android:label="@string/title_activity_task_detail" >
        </activity>

        <service android:name="hk.hku.qboy.catcher.Timer" >
        </service>

        <provider
            android:name="hk.hku.qboy.catcher.TaskProvider"
            android:authorities="hk.hku.qboy.catcher.tasks" >
        </provider>

        <activity
            android:name="hk.hku.qboy.catcher.TimerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_timer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hk.hku.qboy.catcher.CreateTask"
            android:label="@string/title_activity_create_task" >
        </activity>
        <activity
            android:name="hk.hku.qboy.catcher.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>